{% extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('assets/css/aboutStyles.css')}}"/>
{% endblock %}

{# {% block javascripts %}
	<script src='{{asset('assets/js/blogScript.js')}}' defer></script>
{% endblock %} #}


{% block body %}
	<main class='d-flex flex-direction-colum j-content-between'>
		<article class='container py-2'>
			<h2>Qui somme nous</h2>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error nam, quae quas tempora dolores molestias exercitationem ratione soluta voluptates, omnis ut saepe dolore sint, magni minima non nemo perferendis ab laborum illum eligendi! Eum dicta adipisci perspiciatis nulla dolorum doloribus sapiente reiciendis odit cum quas totam ex dignissimos saepe qui, maxime minima facilis dolore officiis, nesciunt dolorem! Animi perferendis optio laborum totam quia facere ad sed similique sequi accusamus accusantium odit cupiditate, dolore eos non! Aperiam rerum quos natus voluptatem, mollitia ex nostrum esse illo suscipit expedita doloribus exercitationem asperiores non iste laborum! Sed magni inventore, et repellat quia quibusdam dolorem voluptatibus enim illo sint a doloremque eos necessitatibus nobis, voluptatem nesciunt culpa. Nobis totam libero non officiis in commodi. Laboriosam quasi doloribus minima odio quia culpa, asperiores excepturi! Dolor ad nam dolores fugiat deleniti cum fuga odio excepturi voluptate ipsum quos, quisquam, nisi vero dolorum eius iure, saepe nostrum! Incidunt provident repudiandae accusamus ipsa cupiditate alias officiis. Itaque fugit distinctio dolore, reiciendis provident quis amet? Tenetur voluptates soluta eum commodi, molestiae velit at perspiciatis doloribus, aspernatur aliquam, omnis eos mollitia praesentium itaque minus suscipit ratione et aliquid libero ipsa cum doloremque quam corrupti assumenda. Iusto, ut distinctio? Iusto, quos.</p>
		</article>
		<article class='container py-2'>
			<h2>Section 2</h2>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error nam, quae quas tempora dolores molestias exercitationem ratione soluta voluptates, omnis ut saepe dolore sint, magni minima non nemo perferendis ab laborum illum eligendi! Eum dicta adipisci perspiciatis nulla dolorum doloribus sapiente reiciendis odit cum quas totam ex dignissimos saepe qui, maxime minima facilis dolore officiis, nesciunt dolorem! Animi perferendis optio laborum totam quia facere ad sed similique sequi accusamus accusantium odit cupiditate, dolore eos non! Aperiam rerum quos natus voluptatem, mollitia ex nostrum esse illo suscipit expedita doloribus exercitationem asperiores non iste laborum! Sed magni inventore, et repellat quia quibusdam dolorem voluptatibus enim illo sint a doloremque eos necessitatibus nobis, voluptatem nesciunt culpa. Nobis totam libero non officiis in commodi. Laboriosam quasi doloribus minima odio quia culpa, asperiores excepturi! Dolor ad nam dolores fugiat deleniti cum fuga odio excepturi voluptate ipsum quos, quisquam, nisi vero dolorum eius iure, saepe nostrum! Incidunt provident repudiandae accusamus ipsa cupiditate alias officiis. Itaque fugit distinctio dolore, reiciendis provident quis amet? Tenetur voluptates soluta eum commodi, molestiae velit at perspiciatis doloribus, aspernatur aliquam, omnis eos mollitia praesentium itaque minus suscipit ratione et aliquid libero ipsa cum doloremque quam corrupti assumenda. Iusto, ut distinctio? Iusto, quos.</p>
		</article>
		<article class='container py-2'>
			<h2>Section 3</h2>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error nam, quae quas tempora dolores molestias exercitationem ratione soluta voluptates, omnis ut saepe dolore sint, magni minima non nemo perferendis ab laborum illum eligendi! Eum dicta adipisci perspiciatis nulla dolorum doloribus sapiente reiciendis odit cum quas totam ex dignissimos saepe qui, maxime minima facilis dolore officiis, nesciunt dolorem! Animi perferendis optio laborum totam quia facere ad sed similique sequi accusamus accusantium odit cupiditate, dolore eos non! Aperiam rerum quos natus voluptatem, mollitia ex nostrum esse illo suscipit expedita doloribus exercitationem asperiores non iste laborum! Sed magni inventore, et repellat quia quibusdam dolorem voluptatibus enim illo sint a doloremque eos necessitatibus nobis, voluptatem nesciunt culpa. Nobis totam libero non officiis in commodi. Laboriosam quasi doloribus minima odio quia culpa, asperiores excepturi! Dolor ad nam dolores fugiat deleniti cum fuga odio excepturi voluptate ipsum quos, quisquam, nisi vero dolorum eius iure, saepe nostrum! Incidunt provident repudiandae accusamus ipsa cupiditate alias officiis. Itaque fugit distinctio dolore, reiciendis provident quis amet? Tenetur voluptates soluta eum commodi, molestiae velit at perspiciatis doloribus, aspernatur aliquam, omnis eos mollitia praesentium itaque minus suscipit ratione et aliquid libero ipsa cum doloremque quam corrupti assumenda. Iusto, ut distinctio? Iusto, quos.</p>
		</article>
		<section class="mt-4 py-4 bg-c-greenDark">
			<div data-aos="fade-zoom-in" data-aos-duration="1000">
				{% include './footer/footer.html.twig' %}
			</div>
		</section>
	</main>

{% endblock %}
