<footer class="text-align-center container c-white">
	<article class='flex'>
		<h2 class="text bold">Suivez-nous</h2>
		<p class="text">#PixelEvent</p>
		<ul class="d-flex j-content-around">
			<li><img src="{{asset('assets/logo/logo.jpg')}}" class='miniLogo' alt="logo"></li>
			<li><img src="{{asset('assets/logo/logo.jpg')}}" class='miniLogo' alt="logo"></li>
			<li><img src="{{asset('assets/logo/logo.jpg')}}" class='miniLogo' alt="logo"></li>
		</ul>
	</article>
	<article class='flex'>
		<h2 class="text bold">Newsletter</h2>
		<p>En vous inscrivont à la newsletter, vous recevrez toutes les actualitées sur nos évènements</p>
		<form action="php" method='post'>
			<input class='newletter form' type="mail" id="email" name="email" placeholder='Email' required>
			<button onclick={} class='newletter btnNewletter'>Envoyer</button>
		</form>
	</article>
</footer>
