{% extends 'base.html.twig' %}

{% block title %}Edit Page
{% endblock %}

{% block body %}
	<main class='mainType'>
		<h2 class='titre t-center'>Page</h2>
		<div class='d-flex a-items-center container'>
			<div>
				{% include '_partials/btnRetour.html.twig' %}
			</div>
		</div>

		<section class='container'>
			<section class='form-Container my-4 mx-1'>
				{{ form_start(form) }}
				{{ form_end(form) }}
			</section>
		</section>

	</main>
{% endblock %}
